body {
    font-family: Arial, sans-serif;
    background-color: #4b4b4b;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}

.homePage {
    background-color: black;
    color: white;
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
     display: none;
}

.container {
    margin: 50px auto;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 75%;
    align-items: left;
    text-align: left;
}

.quiz {
    margin-top: 20px;
    background-color: rgba(119, 81, 81, 0.096);
    width: 90%;
    border-radius: 15px;
    padding: 20px;
    font-size: medium;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: medium;
}

.start {
    background-color: #4CAF50;
    cursor: pointer;
    width: 12.5rem;
    height: 5rem;
    border-radius: 20px;
    font-size: medium;
}

.start:Hover {
    transition: transform 0.2s;
    transform: scale(1.5);
}